@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply bg-gray-200/80;
}

.react-flow__panel {
    display: none !important;
}

.bg-grid {
    background-size: 15px 15px;
    background-image:
            radial-gradient(#dedede 1px, transparent 1px),
            radial-gradient(#dedede 1px, transparent 1px);
    background-position: 7px 7px;
}
