@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply bg-gray-200/80;
}

.react-flow__panel {
    display: none !important;
}

.bg-grid {
    background-size: 15px 15px;
    background-image:
            radial-gradient(#dfdfdf 1px, transparent 1px),
            radial-gradient(#dfdfdf 1px, transparent 1px);
    background-position: 7px 7px;
}

.horizontal {
    @apply flex items-center;
}
.vertical {
    @apply flex flex-col items-center;
}

.layout {
    @apply w-[95%] xl:w-[90%] mx-auto max-w-[1240px];
}

.tiptap {

    @apply text-[.85em] leading-relaxed outline-none;

    p {
        @apply inline;
    }

    strong {
        @apply font-semibold;
    }
}
