@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply bg-gray-200/80;
}

.react-flow__panel {
    display: none !important;
}

.tech-tree-edit {
    /*.react-flow .react-flow__handle-right  {
        @apply rounded-full border  border-gray-200 bg-gray-950;
        width: 15px;
        height: 15px;
        margin-right: -2px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::after {
            content: '+';
            @apply text-gray-50 text-xs;
        }
    } */
}



.bg-grid {
    background-size: 15px 15px;
    background-image:
            radial-gradient(#dfdfdf 1px, transparent 1px),
            radial-gradient(#dfdfdf 1px, transparent 1px);
    background-position: 7px 7px;
}

.horizontal {
    @apply flex items-center;
}
.vertical {
    @apply flex flex-col items-center;
}

.layout {
    @apply w-[95%] xl:w-[90%] mx-auto max-w-[1140px];
}

.tiptap {

    @apply text-[.85em] leading-relaxed outline-none text-gray-800;

    p {
        @apply inline;
    }

    strong {
        @apply font-semibold text-gray-900;
    }

    h1 {
        @apply text-2xl font-bold text-gray-900;
    }

    h2 {
        @apply text-xl font-bold text-gray-900;
    }

    h3 {
        @apply text-lg font-bold text-gray-900;
    }
}
